<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/list.css}">
</head>

<nav class="nav">
	<span><a href="./main.html" class="nav-logo">독서로그</a></span>
	<div class="nav-right">
		<span><span class="nav-user"></span> 님 환영합니다</span>
		<button class="nav-btn" th:onclick="location.href='main.html'" type="button">로그아웃</button>
		<button class="nav-write" th:onclick="|location.href='@{/board/write}'| " type="button">게시글 쓰기</button>
	</div>
</nav>

<main>
	<div class="container">


		<div class="search-row" th:action="@{/board/list}" method="get">
			<input class="search" type="text" id="search" placeholder="제목 또는 작성자 검색" th:value="${keyword}" />
			<button class="search-btn" type="submit">검색</button>

		</div>

		<p class="search-keyword" th:if="${keyword != null and keyword != ''}">
			'<strong th:text="${keyword}"></strong>' 검색 결과
		</p>

		<table>
			<thead>
				<tr>
					<th style="width:70px">번호</th>
					<th>제목</th>
					<th style="width:100px">작성자</th>
					<th style="width:120px">날짜</th>
					<th style="width:70px">조회수</th>
				</tr>
			</thead>
			<tbody id="board-body">

				<tr th:if="${#lists.isEmpty(boardList)}">
					<td colspan="5" class="no-data">등록된 게시글이 없습니다.</td>
				</tr>

				<tr th:each="board : ${boardList}">
					<td th:text="${board.boardId}"></td>
					<td>
						<a th:href="@{/board/detail/{id}(id=${board.boardId})}" th:text="${board.boardTitle}"></a>
					</td>
					<td th:text="${board.memberLoginId}"></td>
					<td th:text="${board.boardRegDate}"></td>
					<td th:text="${board.boardViews}"></td>
				</tr>
				<tr>
					<td></td>
					<td><a href="./detail.html"></a></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>

				<!-- <tr id="empty-row">
          <td colspan="5" class="empty-msg">등록된 게시글이 없습니다.</td>
        </tr> -->
			</tbody>
		</table>

		<div class="pagination">
			<a th:if="${currentPage > 1}" th:href="@{/board/list(page=${currentPage - 1}, keyword=${keyword})}">◀ 이전</a>
			<a th:each="i : ${#numbers.sequence(1, totalPages)}" th:href="@{/board/list(page=${i}, keyword=${keyword})}"
				th:text="${i}" th:class="${i == currentPage} ? 'active' : ''"></a>
			<a th:if="${currentPage < totalPages}"
				th:href="@{/board/list(page=${currentPage + 1}, keyword=${keyword})}">다음 ▶</a>
		</div>

	</div>
</main>

<footer>
	<div class="sub">
		<div class="sub-sub1">
			<p class="sub-title">독서LOG</p>
			<br />
			<p class="sub-sub">읽고, 기록하고, 성장하세요.</p>
		</div>

		<div class="sub-category">
			<div class="small-title">계정</div>
			<br>
			<!-- <a href="">로그인</a> -->
			<a href="login.html">로그인</a>
			<a href="join.html">회원가입</a>
		</div>
	</div>
</footer>

</body>

</html>