<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
 
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>독서로그</title>
	<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
 
<body>
 

	<!--   <header th:replace="~{fragment/layout :: nav}"></header>   -->

	<main>
		<div class="Board">
 
			<div class="container2">
				<div class="Title">Book Log</div>
				<div class="line"></div>
				<div class="Board-Title2">독서로그</div>
			</div>
 
			<p class="board-title">
				읽은 책을 기록하고, 생각을 남기세요.<br />
				<br />
			</p>
			<p class="board-title2">나만의 독서 이력을 쌓아갑니다.</p>
 
			<div class="category">
				<button type="button"
						th:onclick="|location.href='@{/board/write}'|"
						class="category-main">
					독후감 작성하기
				</button>
				<button type="button"
						th:onclick="|location.href='@{/board/list}'|"
						class="category-sub">
					둘러보기
				</button>
			</div>
 
		</div>
	</main>
 
 
	<footer>
		<div class="sub">
			<div class="sub-sub1">
				<p class="sub-title">독서LOG</p>
				<br />
				<p class="sub-sub">읽고, 기록하고, 성장하세요.</p>
			</div>
 
			<div class="sub-category">
				<div class="small-title">계정</div>
				<br>
				<a th:href="@{/member/login}">로그인</a>
				<a th:href="@{/member/join}">회원가입</a>
			</div>
		</div>
	</footer>
 
</body>
</html>