<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/update.css">
</head>
<body>
    
    <nav class="nav">
        <span><a href="./main.html" class="nav-logo">독서로그</a></span>
        <div class="nav-menu">
          <button type="button" onclick="location.href='list.html' " class="write-form">목록</button>
          <button type="submit" onclick="location.href='login.html' " class="login-form">로그인</button>
          <button type="submit" onclick="location.href='join.html' "class="join-form">회원가입</button>
        </div>
      </nav>

<main>
    <div class="container-sm">
    <h2>독후감 수정</h2>
    <!-- <br> -->
    <p>
        다시 한번 읽은 책에 대한 감상을 기록하세요
    </p>
<br>
<br>
 <form th:action="@{/board/update/{id}(id=${board.boardId})}" method="post">

        <div class="form-group">
            <label for="memberLoginId">제목</label>
          
            <input type="text"
                   id="boardTitle"
                   name="boardTitle"
                   th:value="${board.boardTitle}"
                   required>
        </div>

        <div class="form-group">
            <label for="boardAuthor">저자</label>
          
            <input type="text"
                   id="boardAuthor"
                   name="boardAuthor"
                   th:value="${board.boardAuthor}"
                   required>
        </div>

        <div class="form-group">
            <label for="boardpublisher">출판사</label>
            
            <input type="text"
                   id="boardPublisher"
                   name="boardPublisher"
                   th:value="${board.boardPublisher}"
                   required>
        </div>

        <div class="form-group">
            <label for="aa">독후감</label>
           
            <textarea id="boardContent" name="boardContent" th:text="${board.boardContent}"></textarea>
        </div>

        <button type="submit" class="btn-btn-primary" onclick="location.href='list.html' ">수정하기</button>

</form>
</div>
</main>

<footer>
      <div class="sub">
        <div class="sub-sub1">
          <p class="sub-title">독서LOG</p>
          <br />
          <p class="sub-sub">읽고, 기록하고, 성장하세요.</p>
        </div>

        <div class="sub-category">
          <div class="small-title">계정</div>
          <br>
          <!-- <a href="">로그인</a> -->
          <a href="login.html">로그인</a>
          <a href="join.html">회원가입</a>
        </div>
      </div>
    </footer>



</body>
</html>