* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 10vh;
  /* border-bottom: 1px solid rgb(252, 252, 237); */
  background-color: rgba(0, 0, 0, 1);
  border-color: aliceblue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.nav-logo{
    font-family: monospace;
    font-size:xx-large;
    color: white;
    font-weight:bolder;
    padding-left: 50px;
    transition: transform 0.5s ease;
}

.nav-logo:hover{
    transform: scale(1.05);
}

.nav-btn {
  padding: 7px 16px;
  background: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.15s;
}
 
.nav-btn:hover {
  background: rgb(102, 102, 102);
}
 
.nav-write {
  padding: 7px 16px;
  background: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.15s;
}
 
.nav-write:hover {
  background: rgb(102, 102, 102);
}


.write-form{
    padding: 7px 16px;
  background: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.15s;
}
.write-form:hover{
    background: rgb(102, 102, 102);
}
.login-form{
    padding: 7px 16px;
  background: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.15s;
}
.login-form:hover{
    background: rgb(102, 102, 102);
}
.join-form{
    padding: 7px 16px;
  background: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.15s;
}
.join-form:hover{
    background: rgb(102, 102, 102);
}

main{
    height: 110vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Title{
    font-family: Serif;
    font-size: 80px;
    font-weight: 900;
    /* border-bottom: 0.5px solid black; */
    margin-bottom: 30px;
}
.line{
    width: 130px;
    height: 1px;
    border-bottom: 1px solid black;
    margin-left: 125px;
}
.Board-Title2{
    font-family: monospace;
    font-size: 40px;
    font-weight: 900;
    margin: 30px 110px;
    
}
p{
    font-family: monospace;
    font-size: 20px;
    font-weight: 600;
}


.board-title{
    margin-top: 50px;
    display: flex;
}
.board-title2{
    margin-left: 35px;
    margin-bottom: 50px;
}
.category{
	display: flex;
	justify-content: center;
}
.category-main{

    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    margin-left: 65px;
/*    transition: transform 0.3s ease;*/
    cursor: pointer;
}
/*.category-main:hover{
    transform: scale(1.05);
}*/

.category-sub{
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
/*    transition: transform 0.3s ease;*/
    cursor: pointer;
}
/*.category-sub:hover{
    transform: scale(1.05);
}*/

footer{
    height: 18vh;
    background-color: rgba(0, 0, 0, 0.9);
    border-top: 0.1px solid rgb(255, 255, 255);
    display: flex;
    padding-right: 50px;
    padding-top: 40px;
    position: fixed;
    bottom: 0%;
}
.small-title{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
}
a{
    display: block;
    font-size: 12px;
    font-weight: 200;
    color: rgb(255, 255, 255);
    margin-bottom: 7px;
    text-decoration: none;
    justify-content: flex-end;
    transition: transform 0.3s ease;
}
/*a:hover{
    transform: scale(1.2);
}*/
.sub-title{
    font-family:serif;
    font-size: 25px;
    font-weight: 900;
    color: white;
}
.sub-sub{
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.sub{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.sub-sub1{
    padding: 25px 0 0 40px;
}

.sub-category{
    margin-top: 10px;
    margin-right: 30px;
}
.container2{
    opacity: 0;
    transform: translateY(30px);
    animation: container2 3s ease-out forwards;

}
@keyframes container2{
    to {
    opacity: 1;
    transform: translateY(0);
}
}